# OS
.DS_Store
Thumbs.db

# Node
frontend/node_modules
frontend/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env
.env.docker

# Django
backend/staticfiles/
backend/media/
backend/db.sqlite3
backend/*-smoke*.log
frontend/*-smoke*.log
ai/tst/Persian-License-Plate-Recognition/*-smoke*.log

# IDE
.vscode/
.idea/
